.idea
docs/
build/Release
.lock-wscript
.grunt
.nyc_output/
*.lcov
lib-cov
pids
*.pid
*.seed
logs
*.log
test/
scripts/
.travis.yml
appveyor.yml
*.tgz
*.tar.gz
*.tar
.editorconfig
.prettierrc
.jsdoc.json
.github/
