os:
  - linux
  - osx

sudo: false

language: cpp

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
env:
  matrix:
    - TRAVIS_NODE_VERSION="12"
    - TRAVIS_NODE_VERSION="11"
    - TRAVIS_NODE_VERSION="10"
    - TRAVIS_NODE_VERSION="9"
    - TRAVIS_NODE_VERSION="8"
    - TRAVIS_NODE_VERSION="7"
    - TRAVIS_NODE_VERSION="6"
    - TRAVIS_NODE_VERSION="5"
    - TRAVIS_NODE_VERSION="4"

before_install:
  - . ./scripts/travisci/prepare.sh

install:
  - . ./scripts/travisci/install.sh

script:
  - . ./scripts/travisci/test.sh

cache:
  directories:
    - "node_modules"

after_success:
  - npm run report-coverage
