name: PR

on:
  pull_request:
    branches:
      - master

jobs:
  lint-commit-message:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Setup Node
        uses: actions/setup-node@v2-beta

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: bahmutov/npm-install@v1

      - name: Lint Commit Messages
        uses: wagoid/commitlint-github-action@v4
        env:
          NODE_PATH: ${{ github.workspace }}/node_modules

  test-tsd:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node
        uses: actions/setup-node@v2-beta

      - name: Checkout
        uses: actions/checkout@v2

      - uses: bahmutov/npm-install@v1

      - name: Test TypeScript definitions
        run: npm run test:tsd

  test-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node
        uses: actions/setup-node@v2-beta

      - name: Checkout
        uses: actions/checkout@v2

      - uses: bahmutov/npm-install@v1

      - name: Coverage
        run: npm run coverage

      - name: Coverage Upload
        continue-on-error: true
        if: ${{ success() }}
        uses: codecov/codecov-action@v2
        with:
          file: ./coverage.lcov

  test-integration:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node: # https://nodejs.org/en/about/releases/
          - '*' # Current
          - '18' # Active LTS

      fail-fast: false

    steps:
      - name: Setup sudoless tcpdump (linux only)
        if: ${{ success() && startsWith(matrix.os, 'ubuntu-') }}
        run: |
          sudo groupadd pcap
          sudo usermod -a -G pcap $USER
          sudo chgrp pcap /usr/sbin/tcpdump
          sudo setcap cap_net_raw,cap_net_admin=eip /usr/sbin/tcpdump
          sudo ln -s /usr/sbin/tcpdump /usr/bin/tcpdump

      - name: Setup sudoless tcpdump (macos only)
        if: ${{ success() && startsWith(matrix.os, 'macos-') }}
        run: |
          sudo chown $(whoami):admin /dev/bpf*

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          check-latest: true
          node-version: ${{ matrix.node }}

      - name: Checkout
        uses: actions/checkout@v2

      - uses: bahmutov/npm-install@v1

      - name: Test (integration)
        run: npm run test:integration
